<h1><%= @team.name %></h1>
<% @team.players.each do |player| %>
   <font size="4"><%= player.position %>
   <a href="<%= espn_page %><%= player.espnid %>" target="_blank"><%= "#{player.first_name} #{player.last_name}" %></a></font>
    &nbsp; &nbsp;
   <font size="2"><a href="/players/<%= player.id %>/edit">Edit Player</a></font>
   <br>
<% end %>
<br><br>
<a href="/teams/<%= @team.id %>/edit">Edit Team</a>
&nbsp
<a href="/players/new">Add Player</a>
<br><br>
<form action="/teams/<%=@team.id%>/delete" method="POST">
    <input type="hidden" name="_method" value="delete">
    <input id="delete" type="submit" value="Delete Team">
</form>